# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache

cachedHypernyms.txt
generalizedSynsets_2.txt
generalizedSynsets_3.txt
generalizeTo_2.txt
generalizeTo_3.txt
CSVDataset.csv
outputsyns_youtube_old.map
relationshipDegree_2.arff
relationshipDegree_2.csv
relationshipDegree_3.arff
relationshipDegree_3.csv

